<!DOCTYPE html>
<html>
  <head>
    <title>My Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/animate.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!-- Button trigger modal -->

    <button type="button" id="instructions" class="btn btn-primary btn-md animated zoomIn" data-toggle="modal" data-target="#myModal">
      Instructions for Chatbot Use
    </button>

    <!-- Modal -->
    <div class="modal fade animated zoomIn" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Current Chatbot Features & Usage</h4>
          </div>
          <div class="modal-body">
            <h5> Developer Notes </h5>
            <ul>
              <li> This web application was built for personal use with the idea to continue to scale out over time and use as a virtual personal assistant. </li>
              <li> Vocal user commands and vocal bot response work on Chrome browsers only. </li>
              <li> I always appreciate any feedback. So if you spot any bugs or have a cool idea, let me know. </li>
              <li> <a href="https://github.com/aamengual14/chatbot">Github</a></li>
            </ul>
            <h5> Current Features </h5>
            <ul>
              <li> <span class="modal-sub-header"> Small Talk:</span> </li>
                <ul class="inner-li">
                  <li> Chatbot currently has the capability to make general conversation.</li>
                  <li> Example inputs: "Hello", "How are you?", "What is your name?", etc.</li>
                </ul>
              <li> <span class="modal-sub-header"> Tasks & Prioritization:</span> </li>
                <ul class="inner-li">
                  <li> Users are able to create tasks the bot will remember for you (view 'Show Task List'). </li>
                  <li> The chatbot can recognize keywords such as 'urgent', 'important', etc.,  during task creation to specify priority. </li>
                  <li> Users can notify the bot when a task has been completed. The bot will then cross the item off on the list. </li>
                </ul>
            </ul>
            <h5> Directions for Use </h5>
            <ul>
              <li> <span class="modal-sub-header"> Voice Command:</span> </li>
                <ul class="inner-li">
                  <li>Click the 'Speak' button, wait for text to change to 'Recording...'.</li>
                  <li>Say anything you'd like.</li>
                </ul>
              <li> <span class="modal-sub-header"> Text Inputs:</span> </li>
                <ul class="inner-li">
                  <li>Type anything into the input bar.</li>
                  <li>Press enter. </li>
                </ul>
              <li> <span class="modal-sub-header"> Task Creation:</span> </li>
                <ul class="inner-li">
                  <li>Type/speak any from of 'create task','new task', 'remind me to', etc. followed by the actual task.</li>
                  <li>Speak to it as you if you were to naturally ask for it to create a task. Even if it does not properly interpret what you've said, it gets smarter with the more speech it hears.</li>
                  <li>You are able to view the JSON results to debug where it might have misinterpreted. I'd appreciate any feedback from developers! </li>
                </ul>
              <li> <span class="modal-sub-header"> Task Creation by Urgency:</span> </li>
                <ul class="inner-li">
                  <li> This works generally the same way as above. </li>
                   <li> If you add a key word such as 'urgent {task of your choice}' or 'new important item {task of your choice}', it should be able to process the difference. </li>
                </ul>
              <li> <span class="modal-sub-header"> Task Completion:</span> </li>
                <ul class="inner-li">
                  <li>Same concept again, just make a request how you might naturally say it.</li>
                  <li>Example: 'finish task {existing task of choice}', 'complete task {existing task of choice}', 'mark {existing task of choice} as done', etc. </li>
                </ul>
            </ul>
            <h5> Technologies Used </h5>
            <ul>
              <li> <span class="tech-color">Server-side:</span> Node.js, Express, MongoDB </li>
              <li> <span class="tech-color">Client-side:</span> Bootstrap, jQuery, AJAX </li>
              <li> <span class="tech-color">AI:</span> API.ai </li>
              <li> <span class="tech-color">Speech:</span> Chrome Web Speech API, HTML5 Webkit Speech Recognition API </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" id="modal-close" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="chat-container animated fadeIn">
      <input id="speech" type="text">
      <button id="rec" class="btn btn-primary">Speak</button>
      <div id="spokenResponse" class="spoken-response">
        <div class="spoken-response-text"></div>
      </div>
    </div>
    <div class="debug animated slideInRight">
      <div class="debug-btn btn">
        View AI JSON Results
      </div>
      <div class="debug-content">
        <textarea id="response" cols="40" rows="20"></textarea>
      </div>
    </div>
    <div class="task animated slideInLeft">
      <div class="task-btn btn">
        Show Task List
      </div>
      <div class="task-content">
        <div id="task-list">
          <% tasks.forEach(function(task) { %>
            <div id="task-item" <% if (task.completed)  { %> class="strike" <% } %> data-id="<%= task._id %>">
              <h6><%= task.name %><i class="fa fa-trash-o" aria-hidden="true"></i></h6> <p> Priority: <%= task.priority %> </p>
            </div>
          <% }) %>
        </div>
      </div>
    </div>

    <script src="https://use.fontawesome.com/2c06b0ed41.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      var accessToken = "<%= process.env.ACCESS_TOKEN %>";
    </script>
    <script type="text/javascript" src='/javascripts/main.js'></script>
  </body>
</html>

