<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>My Chatbot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src='/javascripts/main.js'></script>

  </head>
  <body>


    <div class="container">
      <input id="speech" type="text">
      <button id="rec" class="btn">Speak</button>
      <div id="spokenResponse" class="spoken-response">
        <div class="spoken-response__text"></div>
      </div>
    </div>
    <div class="debug">
      <div class="debug__btn btn">
        Debug JSON results
      </div>
      <div class="debug__content">
        <textarea id="response" cols="40" rows="20"></textarea>
      </div>
    </div>


  </body>
</html>

