<!DOCTYPE html>
<html>
  <head>
    <title>My Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <div class="container">
      <input id="speech" type="text">
      <button id="rec" class="btn">Speak</button>
      <div id="spokenResponse" class="spoken-response">
        <div class="spoken-response__text"></div>
      </div>
    </div>
    <div class="debug">
      <div class="debug__btn btn">
        Debug JSON results
      </div>
      <div class="debug__content">
        <textarea id="response" cols="40" rows="20"></textarea>
      </div>
    </div>

    <div id="taskList">
      <% tasks.forEach(function(task) { %>
        <h4><%= task.name %></h4> <p> Priority: <%= task.priority %> </p>
      <% }) %>
    </div>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      var accessToken = "<%= process.env.ACCESS_TOKEN %>";
    </script>
    <script type="text/javascript" src='/javascripts/main.js'></script>
  </body>
</html>

