<!DOCTYPE html>
<html>
  <head>
    <title>My Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <div class="chat-container">
      <input id="speech" type="text">
      <button id="rec" class="btn btn-primary">Speak</button>
      <div id="spokenResponse" class="spoken-response">
        <div class="spoken-response-text"></div>
      </div>
    </div>
    <div class="debug">
      <div class="debug-btn btn">
        View AI JSON Results
      </div>
      <div class="debug-content">
        <textarea id="response" cols="40" rows="20"></textarea>
      </div>
    </div>
    <div class="task">
      <div class="task-btn btn">
        Show Task List
      </div>
      <div class="task-content">
        <div id="task-list">
          <% tasks.forEach(function(task) { %>
            <div id="task-item" <% if (task.completed)  { %> class="strike" <% } %> data-id="<%= task._id %>">
              <h6><%= task.name %><i class="fa fa-trash-o" aria-hidden="true"></i></h6> <p> Priority: <%= task.priority %> </p>
            </div>
          <% }) %>
        </div>
      </div>
    </div>

    <script src="https://use.fontawesome.com/2c06b0ed41.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      var accessToken = "<%= process.env.ACCESS_TOKEN %>";
    </script>
    <script type="text/javascript" src='/javascripts/main.js'></script>
  </body>
</html>

