
.chat-container {
  position: fixed;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-animation-duration: 1.5s;
}

input {
  color: #484848;
  border: 2px solid #2a9fd6;
  font-size: 20px;
  height: 35px;
  width: 450px;
}

textarea {
  border: 2px solid #2a9fd6;
  color: #484848;
  width: 100%;
  -webkit-transition: all 0.35s ease-in;
}

.btn {
  margin-bottom: 7px;
  cursor: pointer;
  -webkit-transition: all 0.50s ease-in;

}

.debug {
  bottom: 0;
  position: fixed;
  right: 0;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
}

.debug-content {
  font-size: 14px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.35s ease-in;
}
.debug-content.is-active {
  display: block;
  max-height: 500px;
}
.debug-btn {
  width: 100%;
  border: 2px solid white;
}

.debug-btn:hover{
  background-color: #2a9fd6;
  color: white;
}

.task {
  bottom: 0;
  position: fixed;
  left: 0;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
}

.task-content {
  font-size: 14px;
  max-height: 0;
  overflow: scroll;
  -webkit-transition: all 0.35s ease-in;
}
.task-content.is-active {
  display: block;
  max-height: 500px;
}
.task-btn {
  width: 304px;
  border: 2px solid white;
}

.task-btn:hover{
  background-color: #2a9fd6;
  color: white;
}


#task-list {
  text-align: center;
}

.spoken-response {
  max-height: 0;
  margin-top: 5px;
  -webkit-transition: all 0.35s ease-in;
}
.spokesponse.is-active {
  max-height: 400px;
}
.spoken-response-text {
  background-color: black;
  color: green;
  font-size: 20px;
}

.fa-trash-o {
  margin-left: 5px;
}

.strike {
  text-decoration: line-through;
}

input:active, input:focus, textarea:active, textarea:focus {
      outline: 1px solid #48788B;
  }

.modal-content {
  background-color: #f4f4f4;
  color: #293133;
  font-size: 16px;
}

.modal-title {
  color: #2a9fd6;
}

.modal-header{
  color: #999999;
  text-align: center;
}

.modal-footer {
  color: #999999;
}

.close {
  color: #2a9fd6;
}
.close:hover {
  color: blue;
  font-size: 25px;
}

#modal-close {
  background-color: #2a9fd6;
}
#modal-close:hover {
  cursor: pointer;
  background-color: blue;

}

.modal-body h5 {
  color: #2a9fd6;
  border-bottom: 1px solid whitesmoke;
}



.modal-body ul li {
  margin: 5px;
}


.inner-li {
  list-style: none;
}

.modal-dialog {
  width: 95%;
}

#instructions {
  position: absolute;
  top: 0;
  right: 44%;
  margin-top: 5%;
  background-color: black;
  color: #888888;
  border-color: black;
}

#instructions:hover {
  cursor: pointer;
  border-color: #2a9fd6;
}

#instructions:focus, #instructions:active:focus {
    outline: 0 none;
}

.btn-md {
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
}

#myModal {
  -webkit-animation-duration: 1s;
}











